.date {
  margin: 0 0 0.5rem 0;
  color: #999;
  font-size: 1rem;
}

.byUser {
    margin: 0 0 0.5rem 0;
  color: #999;
  font-size: 1.25rem;
}

.guestName {
  font-size: 1.7rem;
  letter-spacing: 0.5px;
  color: #333;
}

.description {
  font-size: 1.5rem;
  color: #333;
}

.card {
  display: flex;
}

.actions {
  width: 100%;
  align-items:right;
  text-align: right;
}

.button {
  font: inherit;
  padding: 0.5rem 1.5rem;
  width: 7rem;
  cursor: pointer;
  border-radius: 4px;
  background-color: #F78733;
  color: white;
  border: 1px solid #F78733;
  margin: 0 1rem;
  font-size: 1.2rem;
}

.button:hover {
  background-color: #F78733;
  border-color: #F78733;
  color: white;
}

.buttonAlt {
  background-color: transparent;
  color: #F78733;
}